* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

.fs-200 { font-size: .875rem; }
.fs-300 { font-size: 1rem; }
.fs-400 { font-size:  1.125rem; }
.fs-500 { font-size:  1.75rem; }
.fs-600 { font-size:  2rem; }
.fs-700 { font-size:  3.5rem; }
.fw-400 { font-weight: 400;}
.fw-500 { font-weight: 500;}
.fw-700 { font-weight: 700;}



body {
  background-color: var(--magnolia);
  width: 100%;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  padding: 1.5em;
  background-color: var(--white);
  border-radius: 8px;
  gap: 2em;
}

.sidebar {
  width: 274px;
  height: 568px;
  padding: 2em;
  background-image: url("https://github.com/ray-mak/multistep-form/assets/154634286/d65f49ba-cedf-4a87-ad98-f3c562f39df3");
}

.step-container {
  display: flex;
  margin-bottom: 2em;
}

.step-number {
  width: 35px;
  border-radius: 50%;
  color: var(--white);
  font-weight: 500;
  border: 1px solid var(--white)
}

.step-label-container {
  margin-left: 1em;
}

.step-text {
  color: var(--cool-gray)
}

.step-name {
  color: var(--white);
  font-weight: 500;
  letter-spacing: .1rem;
}

.active {
  background-color: var(--light-blue);
  color: black;
  font-weight: 700;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 2.5em 2.5em 1em 2.5em;
  gap: 1em;
}

.heading {
  color: var(--marine-blue)
}

.subheading {
  color: var(--cool-gray);
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  flex: 1 1 auto;
  position: relative;
}

.personal-form {
  width: 460px
}

label{
  color: var(--marine-blue);
  font-weight: 500;
  font-size: .875rem;
}

input[type=text], input[type=tel], input[type=email] {
  width: 100%;
  margin-top: .5em;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  text-indent: 1em;
  color: var(--marine-blue);
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1.6em;
}

input.required {
  border: 1px solid var(--strawberry-red)
}

input:focus {
  outline: 1px solid var(--purplish-blue);
}

.required {
  color: var(--strawberry-red);
  margin-left: auto;
  font-weight: 700;
}

.buttons-container {
  width: 100%;
  margin-top: auto;
  display: flex;
}

.button {
  width: 120px;
  height: 50px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.go-back {
  color: var(--cool-gray);
  background-color: var(--white);
  text-align: left;
}

.go-back:hover {
  color: var(--marine-blue)
}

.next-step {
  margin-left: auto;
  background-color: var(--marine-blue);
  color: var(--white);
}

.next-step:hover {
  opacity: .9;
}

.plan-form-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

input[type=radio], input[type=checkbox] {
  position: absolute;
  opacity: 0;
  left: -9000px;
  top: -9000px
}

.plan-form-container input:checked + label{
  background-color: var(--magnolia);
}

.plan-label {
  width: 140px;
}

.plan-card {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--purplish-blue);
  border-radius: 6px;
}

.plan-icon {
  margin-bottom: 40px;
}

.selection-title {
  color: var(--marine-blue);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.yearly-container {
  position: relative;
  width: 100%;
  background-color: var(--magnolia);
  margin-top: 24px;
  border-radius: 8px;
  padding: 16px;
}

.yearly-container label{
  font-weight: 700
}

.toggle-btn {
  content: "";
  width: 40px;
  height: 20px;
  background-color: var(--marine-blue);
  margin: 0 16px;
  border-radius: 12px;
  border: none
}

.annual-label {
  text-align: center;
  color: var(--cool-gray)
}

.promo-text {
  color: var(--marine-blue);
  font-weight: 500;
  font-size: .8rem;
  letter-spacing: -.5px;
  margin-top: 6px;
}

.dot {
  position: absolute;
  left: 47.8%;
  width: 13px;
  height: 13px;
  background-color: var(--white);
  border-radius: 50%;
  transition: all .3s;
}

.dot.yearly-plan {
  left: 52%
}

.yearly-container input:checked + label {
  color: var(--marine-blue)
}

.addon-label {
  display: flex;
  width: 440px;
  padding: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}

.addon-label:hover {
  border: 1px solid var(--purplish-blue);
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  background-image: url("https://github.com/ray-mak/multistep-form/assets/154634286/a93d2129-e267-4f8c-8964-493fdf1cffcb");
  background-repeat: no-repeat;
  background-position: 50%;
}

input[type=checkbox]:checked + .addon-label .checkmark {
  background-color: var(--purplish-blue);
}

.addon-container input:checked + label {
  background-color: var(--magnolia);
}

.addon-text {
  margin-left: 20px;
}

.purple-text {
  color: var(--purplish-blue);
  font-size: 1rem;
  font-weight: 500;
  margin-left: auto;
}

@media (max-width: 900px) {
  .main-container {
    padding: .75em;
  }

  .input-container {
    padding: 1em;
  }

  .personal-form {
    width: 300px;
  }

  .plan-label {
    width: 120px;
  }

  .plan-card {
    padding: 10px
  }


}

@media (max-width: 680px) {
  .main-container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    background-color: var(--magnolia);
  }

  .sidebar {
    width: 100%;
    height: 200px;
    display: flex;
    background-image: url("https://github.com/ray-mak/multistep-form/assets/154634286/c76e2820-f811-4905-80ab-2daef7e89319");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }

  .step-number {
    height: 35px;
  }

  .step-container {
    margin:0 8px;
  }

  .step-label-container {
    display: none;
  }

  .input-container {
    position: relative;
    top: -10%;
    background-color: var(--white);
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
  }

  form {
    width: 100%;
  }

  .buttons-container {
    margin-top: 40px;
  }

  .plan-form-container {
    flex-direction: column;
  }

  .plan-label {
    width: 100%;
  }

  .plan-card {
    display: flex;
  }

  .plan-icon { 
    margin-bottom: 0;
    margin-right: 12px;
  }

  .dot {
    left: 48%
  }

  .dot.yearly-plan {
    left: 52%;
  }

}

@media (max-width: 430px) {
  .dot {
    left: 47.2%
  }

  .dot.yearly-plan {
    left: 52.5%;
  }

}